@{
    ViewBag.Title = "About Us";
}
  <div class="jumbotron">
        <h1>Timetabling Web Application</h1>
        <p>Welcome to the timtabling web application. Within this Site you will be able to view in detail elements of your timetable including full timetables and individual events</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
      </div>
