@*@model ConorFoxWebsite.Models.UserModel*@
@{
    ViewBag.Title = "Timetable Summary";
}


<h2>User Summary</h2>
<body>
    <div id="UserSummary">
        <label>Forname</label>
        <hr/>
        @*<label>@Html.LabelFor(x=>x.Forename)</label>*@
        <label>Surname</label>
        <hr/>
      @*  <label>@Html.LabelFor(x=>x.Surname)</label>*@
    </div>


</body>
<p>
     
</p>
