@*@model ConorFoxWebsite.Models.UserModel*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Timetable Summary";
 }
    <script type="text/javascript">
        $("#loginMenu").removeClass("active");
        $("#SummaryMenu").addClass("active");
    </script>
<br />
<h2>User Summary</h2>
<body class="container">
    <div id="UserSummary">
        <label>Forname</label>
        <hr/>
        @*<label>@Html.LabelFor(x=>x.Forename)</label>*@
        <label>Surname</label>
        <hr/>
      @*  <label>@Html.LabelFor(x=>x.Surname)</label>*@
    </div>


</body>

