@{
    ViewBag.Title = "My Timetable";
}

<h2>My Timetable</h2>
<p>
     
</p>
<div>

<table> 
    <tbody>
        
            <tr>
                <td id="Sunday">Sunday</td>
                <td id="Monday">Monday</td>
                <td id="Tuesday">Tuesday</td>
                <td id="Wednesday">Wednesday</td>
                <td id="Thursday">Thursday</td>
                <td id="Friday">Friday</td>
                <td id="Saturday">Saturday</td>
            </tr>
           <tr>
                
    </tr>
        
    </tbody></table>
</div>

